# 1.. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
#importing all libraries

In [2]:
driver=webdriver.Chrome("C:\\Users\\Preeti kumari\\chromedriver.exe")
#opening the driver

<ipython-input-2-56a44a4849dd>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("C:\\Users\\Preeti kumari\\chromedriver.exe")

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
#sending the link

In [56]:
title=driver.find_elements_by_tag_name("tbody")
p=title[0]

In [76]:
rank=[]
r=p.find_elements_by_xpath("tr/td[1]")
for i in r:
    if i.text is None :
        rank.append("--") 
    else:
        rank.append(i.text.replace('\n'," "))   
#scrapping the rank

C:\Users\Preeti kumari\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:432: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [59]:
name=[]
n=p.find_elements_by_xpath("tr/td[2]/a")
for i in n:
    if i.text is None :
        name.append("--") 
    else:
        name.append(i.text.replace('\n'," "))   
#scrapping video name

In [60]:
uploader=[]
u=p.find_elements_by_xpath("tr/td[3]")
for i in u:
    if i.text is None :
        uploader.append("--") 
    else:
        uploader.append(i.text.replace('\n'," "))   
#scrapping youtuber name

30

In [62]:
views=[]
v=p.find_elements_by_xpath("tr/td[4]")
for i in v:
    if i.text is None :
        views.append("--") 
    else:
        views.append(i.text.replace('\n'," "))   
len(views)
#scrapping views on yt

30

In [63]:
upload_date=[]
ud=p.find_elements_by_xpath("tr/td[5]")
for i in ud:
    if i.text is None :
        upload_date.append("--") 
    else:
        upload_date.append(i.text.replace('\n'," "))   
len(upload_date)
#scrapping the upload date

30

In [64]:
data=list(zip(rank,name,uploader,upload_date,views))
#saving in list data

In [73]:
df=pd.DataFrame(data,columns=["Rank","Name","Uploader","Upload_date","Views(in Billion)"])
#creating a df

In [74]:
df.set_index(['Rank'], inplace = True) 
#setting the index as rank

In [75]:
df

,Name,Uploader,Upload_date,Views(in Billion)
Rank,,,,
1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",8.04
2.,Despacito,Luis Fonsi,"January 12, 2017",7.23
3.,Shape of You,Ed Sheeran,"January 30, 2017",5.20
4.,See You Again,Wiz Khalifa,"April 6, 2015",4.99
5.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",4.87
6.,Uptown Funk,Get Movies,"January 31, 2012",4.41
7.,Gangnam Style,Mark Ronson,"November 19, 2014",4.10
8.,Sorry,Psy,"July 15, 2012",3.99
9.,Sugar,Miroshka TV,"February 27, 2018",3.72
10.,Roar,Cocomelon – Nursery Rhymes,"May 2, 2018",3.71
11.,Counting Stars,ChuChu TV,"March 6, 2014",3.59
12.,Thinking Out Loud,Justin Bieber,"October 22, 2015",3.41
13.,Dame Tu Cosita,Maroon 5,"January 14, 2015",3.40
14.,Shake It Off,Katy Perry,"September 5, 2013",3.29
15.,Faded,OneRepublic,"May 31, 2013",3.21
16.,Lean On,Ed Sheeran,"October 7, 2014",3.20
17.,Dark Horse,El Chombo,"April 5, 2018",3.14
18.,Bailando,Taylor Swift,"August 18, 2014",3.02
19.,Girls Like You,Alan Walker,"December 3, 2015",3.00
20.,Let Her Go,Major Lazer Official,"March 22, 2015",2.98
21.,Mi Gente,Katy Perry,"February 20, 2014",2.98
22.,Hello,Enrique Iglesias,"April 11, 2014",2.98
23.,Perfect,Maroon 5,"May 31, 2018",2.97
24.,Waka Waka (This Time for Africa),Passenger,"July 25, 2012",2.92
25.,Blank Space,J Balvin,"June 29, 2017",2.87
26.,Chantaje,Adele,"October 22, 2015",2.79
27.,jawed,Ed Sheeran,"November 9, 2017",2.76
28.,Galinha Pintadinha,Shakira,"June 4, 2010",2.75
29.,Fueled By Ramen,Taylor Swift,"November 10, 2014",2.73
30.,Judson Laipply,Shakira,"November 18, 2016",2.63

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [78]:
driver.get("https://www.bcci.tv/")

In [85]:
navigation=driver.find_elements_by_xpath("html/body/div[2]/div/div[1]/button")
navigation[0].click()
#for the drop-down menu

In [91]:
navigation1=driver.find_elements_by_xpath("//li[@class='drop-down__option  ']")
navigation1[0].click()
#to open international fixature

In [118]:
#extracting match name
match_name=[]
for i in range(0,14):
    pp=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a['+str(i)+']/div[2]/div[1]/span[1]")
    kk=pp[i]
    match_name.append(kk.text)

In [186]:
series=[]
for i in range(8,23):
    pp=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a['+str(i)+']/div[2]/div[1]/span[2]")
    for i in range(1,14):
        kk=pp[i]
    series.append(kk.text)
#scrapping series name

In [141]:
place=[]
k=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span[1]")
for i in k:
    if i.text is None:
        place.append("--") 
    else:
        place.append(i.text)
#scrapping place name

In [177]:
date=[]
d=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']/strong")
for i in d:
    if i.text is None:
        date.append("--")
    else:
        date.append(i.text)
#scrapping date of match

In [184]:
date_time=[]
d=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")
for i in range(0,14):
    da=d[i]
    kn=da.text
    mm=kn.split(" ",3)
    mm=mm[3]
    date_time.append(mm)
#scrapping time of the match

In [189]:
data1=list(zip(match_name,series,place,date,date_time))
#coonverting in one list

In [190]:
df_bcci=pd.DataFrame(data,columns=["Match_Title","Series","Place","Date","Time"])
#creating a df

In [191]:
df_bcci

,Match_Title,Series,Place,Date,Time
0,TEST,ENGLAND V INDIA 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 4 March,09:30 IST
1,T20I,ENGLAND V INDIA 2021,"Narendra Modi Stadium, Ahmedabad",Friday 12 March,19:00 IST
2,T20I,ENGLAND V INDIA 2021,"Narendra Modi Stadium, Ahmedabad",Sunday 14 March,19:00 IST
3,T20I,ENGLAND V INDIA 2021,"Narendra Modi Stadium, Ahmedabad",Tuesday 16 March,19:00 IST
4,T20I,ENGLAND V INDIA 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 18 March,19:00 IST
5,T20I,ENGLAND V INDIA 2021,"Narendra Modi Stadium, Ahmedabad",Saturday 20 March,19:00 IST
6,ODI,ENGLAND V INDIA 2021,"Maharashtra Cricket Association Stadium, Pune",Tuesday 23 March,13:30 IST
7,ODI,ENGLAND V INDIA 2021,"Maharashtra Cricket Association Stadium, Pune",Friday 26 March,13:30 IST
8,ODI,ENGLAND V INDIA 2021,"Maharashtra Cricket Association Stadium, Pune",Sunday 28 March,13:30 IST
9,TEST,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4 August,15:30 IST
10,TEST,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12 August,15:30 IST
11,TEST,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25 August,15:30 IST
12,TEST,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2 September,15:30 IST
13,TEST,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10 September,15:30 IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [3]:
driver.get("https://www.guru99.com/")

In [22]:
#opening selenium webpage
sel=driver.find_elements_by_xpath("//div[@class='srch']/span[8]")
sel[0].click()

In [26]:
sel1=driver.find_elements_by_xpath("//*[@id='g-mainbar']/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]")
sel1[0].click()
#opening selenium exceptins page

1

In [30]:
title=driver.find_elements_by_xpath("//table[@class='table table-striped']")
p_=title[0]

In [43]:
k=p_.find_elements_by_tag_name("tr")
len(k)
#finding total number of exceptions

C:\Users\Preeti kumari\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:365: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

42

In [50]:
Exception_name=[]
for i in range(1,42):
    n=p_.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr['+str(i)']/td[1]")
    p=n[i]
    Exception_name.append(p.text)
#scrapping exception name

In [51]:
Desc=[]
for i in range(1,42):
    d=p_.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr['+str(i)']/td[2]")
    de=d[i]
    Desc.append(de.text)
#scrapping description

In [52]:
data=list(zip(Exception_name,Desc))
df=pd.DataFrame(data,columns=["Exception_Name","Description"])
#creating a list and then df

In [53]:
df

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [55]:
driver.get("http://statisticstimes.com/")

In [81]:
eco=driver.find_elements_by_xpath("//*[@id='top']/div[2]/div[2]/button/i")
eco[0].click()
#opening economy page

In [82]:
p=eco[0]
kk=p.find_elements_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
kk[0].click()
#opening india gdp page

In [86]:
#opening state wise gdp
g=driver.find_elements_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
g[0].click()

In [89]:
gd=driver.find_elements_by_xpath("//*[@id='main']/div[5]")
s=gd[0]

In [90]:
st=s.find_elements_by_tag_name("tr")

C:\Users\Preeti kumari\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:365: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [98]:
rank=[]
for i in range(0,33):
    r=s.find_elements_by_xpath("//*[@id='table_id']/tbody/tr['str(i)']/td[1]")
    k=r[i]
    rank.append(k.text)
#scrapping state rank

In [100]:
state=[]
for i in range(0,33):
    r=s.find_elements_by_xpath("//*[@id='table_id']/tbody/tr['str(i)']/td[2]")
    k=r[i]
    state.append(k.text)
#scrapping state name

In [104]:
gsdp_19_20=[]
for i in range(0,33):
    r=s.find_elements_by_xpath("//*[@id='table_id']/tbody/tr['str(i)']/td[3]")
    k=r[i]
    if k.text is None:
        gsdp_19_20.append("--")
    else:
        gsdp_19_20.append(k.text)
#scrapping gsdp for 19-20

In [106]:
gsdp_18_19=[]
for i in range(0,33):
    r=s.find_elements_by_xpath("//*[@id='table_id']/tbody/tr['str(i)']/td[4]")
    k=r[i]
    if k.text is None:
        gsdp_18_19.append("--")
    else:
        gsdp_18_19.append(k.text)
#scrapping gsdp for 18-19

In [108]:
share=[]
for i in range(0,33):
    r=s.find_elements_by_xpath("//*[@id='table_id']/tbody/tr['str(i)']/td[5]")
    k=r[i]
    if k.text is None:
        share.append("--")
    else:
        share.append(k.text)
#scrapping share

In [111]:
GDP=[]
for i in range(0,33):
    r=s.find_elements_by_xpath("//*[@id='table_id']/tbody/tr['str(i)']/td[6]")
    k=r[i]
    if k.text is None:
        GDP.append("--")
    else:
        GDP.append(k.text)
#scrapping gdp of the state

In [120]:
#creating a df
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP(19-20)':gsdp_19_20,'GSDP(18-19)':gsdp_18_19,"Share":share,'GDP(in Billions)':GDP})

In [121]:
df.set_index("Rank",inplace=True)
#setting index as RANK

In [122]:
df

,State,GSDP(19-20),GSDP(18-19),Share,GDP(in Billions)
Rank,,,,,
1,Maharashtra,-,"2,632,792",13.88%,398.145
2,Uttar Pradesh,"1,794,508","1,668,229",8.79%,252.278
3,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
4,Karnataka,"1,699,115","1,544,399",8.14%,233.552
5,Gujarat,-,"1,502,899",7.92%,227.276
6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
7,Rajasthan,"1,020,989","942,586",4.97%,142.543
8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
9,Telangana,"969,604","861,031",4.54%,130.210
10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
11,Kerala,-,"781,653",4.12%,118.206
12,Delhi,"856,112","774,870",4.08%,117.180
13,Haryana,"831,610","734,163",3.87%,111.024
14,Bihar,"611,804","530,363",2.80%,80.204
15,Punjab,"574,760","526,376",2.77%,79.601
16,Odisha,"531,374","492,229",2.59%,74.437
17,Assam,-,"315,881",1.67%,47.769
18,Chhattisgarh,"329,180","304,063",1.60%,45.982
19,Jharkhand,"328,598","297,204",1.57%,44.945
20,Uttarakhand,-,"245,895",1.30%,37.186
21,Jammu & Kashmir,-,"155,956",0.82%,23.584
22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
23,Goa,-,"73,170",0.39%,11.065
24,Tripura,"55,358","49,845",0.26%,7.538
25,Chandigarh,-,"42,114",0.22%,6.369
26,Puducherry,"40,802","36,656",0.19%,5.543
27,Meghalaya,"36,572","33,481",0.18%,5.063
28,Sikkim,"32,496","28,723",0.15%,4.344
29,Manipur,-,"27,869",0.15%,4.214
30,Nagaland,-,"27,283",0.14%,4.126
31,Arunachal Pradesh,-,"24,603",0.13%,3.721
32,Mizoram,-,"19,520",0.10%,2.952
33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [4]:
driver.get("https://github.com/")

In [5]:
ex=driver.find_elements_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
#opening explore page

C:\Users\Preeti kumari\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:470: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [6]:
ex[0].click()

In [7]:
#opening trending page
tr=driver.find_elements_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
tr[0].click()

In [10]:
box=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div")
p=box[0]

In [18]:
name=p.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
len(name)
#finding the total number of trending repository

25

In [237]:
rep_name=[]
for i in name:
    if i.text is None:
        rep_name.append("-")
    else:
        rep_name.append(i.text)
#Scrapping repository name

In [160]:
lang=[]
for i in range(0,25):
    pp=p.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article['str(i)']/div[2]/span[1]")
    kk=pp[i]
    m=kk.text
    if len(m)==0:
        lang.append("--")
    else:
        lang.append(m)
#Scrapping language used

In [178]:
desc=[]
d=driver.find_elements_by_xpath("//article[@class='Box-row']")
for i in range(0,25):
    dd=d[i]
    k=dd.find_elements_by_tag_name('p')
    if len(k)==0:
        desc.append('-')
    else:
        m=k[0]
        desc.append(m.text)
#scrapping description of the repository

In [236]:
contri_count=[]
for i in range(0,25):
    kk=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']")
    k=kk[i].find_elements_by_tag_name('a')
    if len(k)==0:
        contri_count.append('-')
    else:
        p=k[1]
        contri_count.append(p.text)
#scrapping the number of contributors

In [238]:
#creating a df
df_git=pd.DataFrame({"Repository Name":rep_name,"Language":lang,"Description":desc,"No of Contributors":contri_count})

In [239]:
df_git

,Repository Name,Language,Description,No of Contributors
0,coding-horror / basic-computer-games,VBA,"An updated version of the classic ""Basic Compu...",138
1,iperov / DeepFaceLab,Python,DeepFaceLab is the leading software for creati...,"5,485"
2,jart / cosmopolitan,C,fast portable static native textmode containers,90
3,alievk / avatarify,Python,"Avatars for Zoom, Skype and other video-confer...","1,576"
4,benawad / dogehouse,TypeScript,Taking voice conversations to the moon 🚀,300
5,input-output-hk / cardano-node,Haskell,The core component that is used to participate...,189
6,AliaksandrSiarohin / first-order-model,Jupyter Notebook,This repository contains the source code for t...,"2,089"
7,tailwindlabs / headlessui,TypeScript,"Completely unstyled, fully accessible UI compo...",137
8,kuchin / awesome-cto,Built by,A curated and opinionated list of resources fo...,187
9,deepjyoti30 / ytmdl-web-v2,Vue,Web version of ytmdl. Allows downloading songs...,18
10,jopohl / urh,Python,Universal Radio Hacker: Investigate Wireless P...,589
11,google / monster-mash,C++,-,39
12,chriswalz / bit,Go,Bit is a modern Git CLI,79
13,orkestral / venom,JavaScript,Venom the more complete javascript library for...,240
14,binhnguyennus / awesome-scalability,Built by,"The Patterns of Scalable, Reliable, and Perfor...","3,441"
15,vosen / ZLUDA,C++,CUDA on Intel GPUs,31
16,AI4Finance-LLC / FinRL-Library,Jupyter Notebook,A Deep Reinforcement Learning Library for Auto...,353
17,BillDietrich / fake_contacts,Dart,"Create fake phone contacts, to do data-poisoning.",12
18,apparition47 / MailTrackerBlocker,Objective-C,"An email tracker, read receipt and spy pixel b...",12
19,dwelcaslu / machine-learning-books,Built by,-,106
20,bitcoinbook / bitcoinbook,Python,Mastering Bitcoin 2nd Edition - Programming th...,"4,278"
21,home-assistant / core,Python,🏡 Open source home automation that puts local ...,"13,386"
22,engindemirog / NetCoreBackend,C#,-,55
23,dypsilon / frontend-dev-bookmarks,Built by,Manually curated collection of resources for f...,"4,513"
24,vitejs / awesome-vite,Built by,⚡️ A curated list of awesome things related to...,69

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [3]:
driver.get("https://www.billboard.com/")

In [6]:
t=driver.find_elements_by_xpath("//*[@id='root']/div[2]/div[2]/nav/ul/li[3]")
t[0].click()
#opening top 100 page

C:\Users\Preeti kumari\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:470: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [43]:
rank=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li['str(i)']/button/span[1]/span[1]")
    p=k[i].text
    rank.append(p)
#scrapping the rank

C:\Users\Preeti kumari\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:470: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [17]:
song=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li['+str(i)']/button/span[2]/span[1]")
    p=k[i].text
    song.append(p)
#scrapping the song name

In [23]:
artist=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li['str(i)']/button/span[2]/span[2]")
    p=k[i].text
    artist.append(p)
#scrapping the artist name

In [27]:
peak_rank=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li['+str(i)']/button/div/div[3]")
    p=k[i].text
    peak_rank.append(p)
#scrapping the peak rank

In [29]:
last_week=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li['+str(i)']/button/div/div[2]")
    p=k[i].text
    last_week.append(p)
#scrapping the last week rank

In [38]:
weeks_on_board=[]
m=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in m:
    if i.text is None:
        weeks_on_board.append('--')
    else:
        weeks_on_board.append(i.text)
#scrapping the weeks on board

In [45]:
#creating a df
df_100=pd.DataFrame({'Rank':rank,'Song Name':song,"Artist":artist,"Peak Rank":peak_rank,"Last Week":last_week,"Weeks On Board":weeks_on_board})

In [47]:
df_100.set_index('Rank',inplace=True)
#setting the index as Rank

In [48]:
df_100

,Song Name,Artist,Peak Rank,Last Week,Weeks On Board
Rank,,,,,
1,Drivers License,Olivia Rodrigo,1,1,7
2,Up,Cardi B,2,5,3
3,Go Crazy,Chris Brown & Young Thug,3,8,42
4,34+35,Ariana Grande,17,2,17
5,Blinding Lights,The Weeknd,64,1,64
...,...,...,...,...,...
96,The Business,Tiesto,96,-,1
97,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,97,-,1
98,Monster,Shawn Mendes & Justin Bieber,14,8,14
99,Track Star,Mooski,99,-,1
100,Like I Want You,Giveon,2,95,2

# Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [123]:
driver.get("https://www.naukri.com/")

In [140]:
p=driver.find_elements_by_xpath("//ul[@class='midSec menu']/li[2]/a")
#for opening recruiter page

In [146]:
k=p[0]
m=k.get_attribute('href')
driver.get(m)
#opening the recruiter page

In [150]:
search_input=driver.find_elements_by_xpath("//div[@class='inpWrap']/input")
search_input[0].send_keys("Data Science")
#enterning data scienece in the search bar

In [155]:
search_click=driver.find_elements_by_xpath("//*[@id='qsbFormBtn']")
search_click[0].click()
#nw clicking the search button

In [159]:
k=driver.find_elements_by_xpath("//p[@class='highlightable']")
#finding the length of the available

In [160]:
len(k)
#range will be 50

50

In [163]:
name=[]
for i in range(0,50):
    k=driver.find_elements_by_xpath("//a[@class='ellipsis']/span")
    m=k[i].text
    name.append(m)
#scrapping the name of the recruiter

In [166]:
desg=[]
for i in range(0,50):
    k=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    m=k[i].text
    desg.append(m)
#scrapping designation

In [172]:
comp=[]
for i in range(1,100,2):
    k=driver.find_elements_by_xpath("//a[@class='ellipsis']")
    m=k[i].text
    comp.append(m)
#scrapping company name

In [184]:
skills=[]
for i in range(0,50):
    k=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    m=k[i].text
    skills.append(m)
#scrapping the required skills

In [182]:
loc=[]
for i in range(0,50):
    k=driver.find_elements_by_xpath("//span[2]")
    m=k[i].text
    loc.append(m)
 #scrapping the location

In [186]:
df_ds=pd.DataFrame({"Name":name,"Designation":desg,"Company":comp,"Skills they hire for":skills,"Location":loc})
#saving in dataframe

In [187]:
df_ds

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",Last active on 22-Sep-2018
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",UK - (london)
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Delhi
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Vadodara / Baroda
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Chennai
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Trivandrum
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Indore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Bengaluru / Bangalore
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Hyderabad / Secunderabad
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Bengaluru / Bangalore
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Bhopal
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Hyderabad / Secunderabad
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Delhi
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Hyderabad / Secunderabad
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Bengaluru / Bangalore
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Last active on 11-Mar-2019
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Bengaluru / Bangalore
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Mumbai
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Indore
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Bengaluru / Bangalore
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",MYSORE
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Hyderabad / Secunderabad
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
45,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Mumbai
46,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [3]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [11]:
book=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr['str(i)']/td[2]")
    p=k[i].text
    book.append(p)
#scrapping the name of the book

In [13]:
author=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr['str(i)']/td[3]")
    p=k[i].text
    author.append(p)
#scrapping the author name

In [15]:
volumes=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr['str(i)']/td[4]")
    p=k[i].text
    volumes.append(p)
#scrapping the volume sold

In [17]:
publisher=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr['str(i)']/td[5]")
    p=k[i].text
    publisher.append(p)
#scrapping the publisher name

In [19]:
genre=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr['str(i)']/td[6]")
    p=k[i].text
    genre.append(p)
#scarpping the genre f the book

In [21]:
df_book=pd.DataFrame({'BOOK':book,"AUTHOR":author,"VOLUME SOLD":volumes,"PUBLISHER":publisher,"GENRE":genre})
#creating a df

In [22]:
df_book

,BOOK,AUTHOR,VOLUME SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [23]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [48]:
name=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a")
    p=k[i].text
    name.append(p)
#scrappinge the name of the series

In [47]:
Years=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/span[2]")
    p=k[i].text
    Years.append(p)
#scrapping the years of the series

In [50]:
genre=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
    p=k[i].text
    genre.append(p)
#scrapping the genre of the show

In [51]:
runtime=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
    p=k[i].text
    runtime.append(p)
#scrapping the runtime

In [53]:
rating=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    p=k[i].text
    rating.append(p)
#scrapping the rating of the show

In [43]:
votings=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div['str(i)']/div[2]/p[4]/span[2]")
    p=k[i].text
    votings.append(p)
#scarpping the number of votings

In [56]:
#creating a df
df_imdb=pd.DataFrame({"Series":name,"Year":Years,"Genre":genre,"Runtime":runtime,"Ratings":rating,"Votings":votings})

In [57]:
df_imdb

,Series,Year,Genre,Runtime,Ratings,Votings
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,777,819"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"828,469"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"856,569"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,155"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,662"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,760"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,075"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,170"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,194"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,799"

# 10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [58]:
driver.get("https://archive.ics.uci.edu/")

In [66]:
k=driver.find_elements_by_xpath("//span[@class='normal']/b/a")
#for opening all data set page

In [70]:
#saving url in m
p=k[0]
m=p.get_attribute('href')

In [73]:
#opening saved url
driver.get(m)

In [82]:
name=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]")
    m=k[i].text
    name.append(m)
#scrapping the name of the dataset

In [119]:
dt=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    if k[i].text is None:
        dt.append('--')
    else:
        dt.append(k[i].text)
#scrapping the data type

C:\Users\Preeti kumari\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:470: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [89]:
task=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    m=k[i].text
    task.append(m)
#scrapping the task

In [92]:
at_type=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    m=k[i].text
    at_type.append(m)
#scrapping the atribute type

In [99]:
inst=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    m=k[i].text
    inst.append(m)
#scrapping the number of instances

In [111]:
attri=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    m=k[i].text
    attri.append(m)
#scrapping the attributes

In [106]:
year=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    m=k[i].text
    year.append(m)
#scrapping the year

In [117]:
#creating a df
df_uci=pd.DataFrame({"Name":name,"Data Type":dt,"Task":task,"Attribute Type":at_type,"Instances":inst,"Attributes":attri,"Year":year})

In [122]:
df_uci

,Name,Data Type,Task,Attribute Type,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020